.story {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: lightseagreen;
}

.dumy {
    text-align: center;
    padding: 30px 79px;
    color: #ffff;
    margin-top: 10px;
}
 
